*.DS_Store
*~
*.swp
*.swo

# Custom Vagrant settings.
vagrant/settings.sh

# Custom pillar configuration.
salt/pillar/server/common.sls
salt/pillar/server/development.sls
salt/pillar/server/production.sls

# SSL certs.
salt/salt/software/jitsi-meet/certs/chain.pem
salt/salt/software/jitsi-meet/certs/server.crt
salt/salt/software/jitsi-meet/certs/server.key

