# Jitsi Conference Focus settings
# sets the host name of the XMPP server
JICOFO_HOST=localhost

# sets the XMPP domain (default: none)
JICOFO_HOSTNAME={{ server_id }}

# sets the secret used to authenticate as an XMPP component
JICOFO_SECRET={{ jicofo_domain_password }}

# sets the port to use for the XMPP component connection
JICOFO_PORT=5347

# sets the XMPP domain name to use for XMPP user logins
JICOFO_AUTH_DOMAIN=auth.{{ server_id }}

# sets the username to use for XMPP user logins
JICOFO_AUTH_USER=focus

# sets the password to use for XMPP user logins
JICOFO_AUTH_PASSWORD={{ jicofo_user_password }}

# extra options to pass to the jicofo daemon
JICOFO_OPTS=""

# vi: ft=sh
