VirtualHost "{{ server_id }}"
        -- enabled = false -- Remove this line to enable this host
        authentication = "anonymous"
        -- Assign this host a certificate for TLS, otherwise it would use the one
        -- set in the global section (if any).
        -- Note that old-style SSL on port 5223 only supports one certificate, and will always
        -- use the global one.
        ssl = {
                key = "/etc/ssl/private/{{ server_id }}.key";
                certificate = "/etc/ssl/certs/{{ server_id }}.pem";
        }
        -- we need bosh
        modules_enabled = {
            "bosh";
            "pubsub";
        }

VirtualHost "auth.{{ server_id }}"
        authentication = "internal_plain"

admins = { "focus@auth.{{ server_id }}" }

Component "conference.{{ server_id }}" "muc"

Component "jitsi-videobridge.{{ server_id }}"
    component_secret = "{{ jitsi_videobridge_password }}"

Component "focus.{{ server_id }}"
    component_secret = "{{ jicofo_domain_password }}"

-- vi: ft=lua
